.dark
{
    --link-color: #FFFFFF;
    --text-color: #FFFFFF;
    --footer-color:#faebd7;
    --background-color: #171717;
    --submit-hover-color: #68118A;
    --submit-color: #9331D4;
    --navbar-border-radius : 0 0 12px 12px;
    --navbar-icon-color: #FFFFFF;
    --navbar-mobile-border-radius : 0 12px 12px 0;
    --form-background-color: #eaeaea;
    --border-color: rgba(255, 255, 255, 0.1);
    --font-regular: "Linear","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu, Cantarell,"Open Sans","Helvetica Neue",sans-serif;
}

*
{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body
{
    display: flex;
    flex-direction: column;
    font-family: var(--font-regular);
    background-color:var(--background-color);
}

a
{
    color: var(--link-color);
    text-decoration: none;
}

.card:hover::after 
{
    opacity: 1;
}

.card:hover::before
{
    opacity: 1;
}

.card::before,
.card::after 
{
  border-radius: inherit;
  content: "";
  height: 100%;
  left: 0px;
  pointer-events: none;
  opacity: 0;
  position: absolute;
  top: 0px;
  transition: opacity 500ms;
  width: 100%;
}

.card::before 
{
  background: 
    radial-gradient(
        800px circle at 
            var(--mouse-x) 
            var(--mouse-y),
            rgba(255, 255, 255, 0.06),
            transparent 40%);
  z-index: 3;
}

.card::after 
{
    background: 
        radial-gradient(
            600px circle at 
            var(--mouse-x) 
            var(--mouse-y),
            rgba(255, 255, 255, 0.4),
            transparent 40%);
    z-index: 1;
}

.navbar
{
    width: 80dvw;
    height: 4rem;
    border-radius: var(--navbar-border-radius);
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
    top: -1px;
    background: var(--border-color);
    z-index: 6;
    transition: 250ms;
}

.navbar_mobile
{
    display: none;
}

.navbar > .navbar-content 
{
    background-color: var(--background-color);
    border-radius: inherit;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    inset: 1px;
    position: absolute;
    z-index: 2;
}

.navbar ul
{
    list-style: none;
    display: flex;
    z-index: 4;
    margin-top: auto;
    margin-bottom: auto;
    justify-content: center;
}

.navbar ul li
{
    width: 10rem;
    text-align: center;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    z-index: 4;
    
}

.navbar ul li a
{
    margin: auto;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    transition: 250ms;
}

.navbar ul li a:hover
{
   opacity: 0.5;
}

.navbar-icon
{
	border-radius: 100%;
	width: 70px;
	height: 70px;
	position: absolute;
	display: none;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	z-index: 8;
	transition: .2s ease-in;
}

.navbar-icon_bar
{
	width: 30px;
	height: 6px;
	background: var(--navbar-icon-color);
	border-radius: 1rem;
	transition: all .5s ease-in-out;
	transform: translateX(-3px)
}

.navbar-icon_bar::before,
.navbar-icon_bar::after
{
	content: '';
	position: absolute;
	width: 40px;
	height: 6px;
	background: var(--navbar-icon-color);
	border-radius: 5px;
	transition: all .5s ease-in-out;
}

.navbar-icon_bar::before
{
	transform: translate3d(0,-11px,0);
}

.navbar-icon_bar::after
{
	transform: translate3d(0,11px,0);
}

.open .navbar-icon_bar
{
	background: transparent;
	transform: translateX(-54.2px);
}

.open .navbar-icon_bar::before
{
	transform: rotate(45deg) translate(35px,-35px);
}

.open .navbar-icon_bar::after
{
	transform: rotate(-45deg) translate(35px,35px);
}

main
{
    width: 100%;
}

.sections
{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 6rem;

}

.sections .header
{
    width: fit-content;
    font-size: 4rem;
    font-family: var(--font-regular);
    margin-left: 8vw;
    background: -webkit-linear-gradient(to right, #43c6ac, #f8ffae);;
    background:  linear-gradient(to right, #43c6ac, #f8ffae);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.aboutme  p
{
    color: var(--text-color);
    font-size: 1.2rem;
    margin: 5rem 10vw 0rem 10vw;
    text-align:left;
}

.hero-wrapper
{
    display: flex;
    height: 87vh;
    gap: 4rem;
    flex-wrap:wrap;
    margin-top: auto;
    margin-bottom: auto;
    justify-content: center;
    flex-direction: row;
}

.hero
{
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    flex-wrap: wrap;
    flex-direction: column;
    row-gap: 1rem;
}

.hero > #span1
{
    background: #cb2d3e;
    background: -webkit-linear-gradient(to right, #ef473a, #cb2d3e);
    background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero > #span2
{
    margin-left: 10vw;
}

.hero > #span3
{
    margin-left: 25vw;
}

.hero div
{
    font-size: 4rem;
    font-weight: bolder;
    background: #2980b9;
    background: -webkit-linear-gradient(to right, #2c3e50, #2980b9);
    background: linear-gradient(to right, #2c3e50, #2980b9);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero-pic
{
    width: 20rem;
    height: 20rem;
    margin-top: auto;
    margin-bottom: auto;
}

.aboutme
{
    height: 87vh;
}

.skills-container
{
    display: flex;
    margin-bottom: 8rem;
    flex-direction: column;
}

.skills-wrapper
{
    width: 100%;
    display: flex;
    margin-top: 6rem;
    flex-wrap:wrap;
    flex-direction: row;
    justify-content: center;
    gap: 2.5vw;
}

#skills-right
{
    border-radius: 5rem 0;
}

#skills-left
{
    border-radius: 0 5rem;
    top: -4rem;

}

.skills
{
    top: -1px;
    background: var(--border-color);
    width: 15rem;
    height: 25rem;
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    aspect-ratio: 1/1.6;
}

.skills > .skills-content
{
    position: absolute;
    border-radius: inherit;
    inset: 1px;
    z-index: 2;
    background-color: var(--background-color);
}

.skill-header
{
    color: var(--text-color);
    text-align: center;
    font-size: 2rem;
    font-weight: bolder;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.skill-items
{
    color: var(--text-color);
}

.skill-items ul
{
    list-style:circle;
    display: flex;
    flex-direction: column;
    margin-left: 4.5rem;
    gap: 1rem;
}

.contacts_content
{
	width: 99vw;
	height: 600px;
}

.contactsinfo
{
    display: flex;
    margin: 5rem 0 5rem 15vw;
    box-sizing: border-box;
	flex-direction: row;
}

input[type=text], textarea 
{
	width: 100%;
	padding: 12px; 
	border: 2px solid #E7E7E7;
	border-radius: 0.5rem;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: none;
}

input[type=submit] 
{
	background-color: var(--submit-color);
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

input[type=submit]:hover 
{
	background-color: var(--submit-hover-color) ;
}


.contact_container 
{
	max-width: 35vw;
	border-radius: 5px;
	background-color: var(--form-background-color);
	padding: 20px;
}

.socialmedia
{
    width: 25vw;
    margin-left: 10vw;
	padding-top: 2.5rem;
}

.socialmedia h1
{
    word-wrap: break-word;
}

.socialmedialinks
{
	margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.socialmedialinks a
{
	font-size: 1.4em;
}

.instagram:hover
{
	color: #E1306C;
}

.twitter:hover
{
	color: #1DA1F2;
}

.linkedin:hover
{
	color: #0072b1;
}

footer
{
    width: 100%;
    box-sizing: border-box;
    padding-left: 5vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: var(--footer-color);
}

footer p
{
    margin: 0.5rem;
}

@media (max-width: 546px) 
{

    .navbar
    {
        display: none;
    }

    .navbar_mobile
    {
        width: 4.5rem;
        height: 4rem;
        border-radius: var(--navbar-mobile-border-radius);
        position: fixed;
        display: flex;
        overflow: hidden;
        flex-direction: row;
        top: 1rem;
        background: var(--border-color);
        z-index: 6;
        transition: 250ms;
    }

    .navbar_mobile > .navbar_mobile_content 
    {
        background-color: var(--background-color);
        border-radius: inherit;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        inset: 1px;
        position: absolute;
        z-index: 2;
    }

    .navbar_mobile ul
    {
        width: 10rem;
        margin: 4rem 0 0 4rem;
        list-style: none;
        font-size: 2rem;
    }

    .navbar_mobile ul li
    {
        margin-bottom: 5rem;
    }

    .navbar_mobile ul li a:hover
    {
        border-bottom: 1px solid white;
    }
    .navbar-icon
	{
		display: flex;
	}

    .navbar ul
    {
        display: none;
        flex-direction: column;
    }

    .navbaropen
    {
        width: 70vw;
        height: 70vh;
    }

    .hero-wrapper
    {
        flex-direction: row;
    }

    .hero
    {
        margin-left: auto;
        margin-right: auto;
    }

    .hero-wrapper
    {
        text-align: center;
    }

    .hero > #span1
    {
        margin-left: 0rem;
    }

    .hero > #span2
    {
        margin-left: 0rem;
    }

    .hero > #span3
    {
        margin-left: 0rem;
    }

    .skills-wrapper
    {
        flex-direction: column;
    }

    .skills
    {
        margin-left: auto;
        margin-right: auto;
    }

    #skills-left
    {
        top: 0;
    }

    .contactsinfo
    {
        margin-top: 5rem;
        margin-bottom: 5rem;
        margin-left: 0;
        flex-direction: column;
    }

    .contact_container
    {
        min-width: 15rem;
        margin-left: auto;
        margin-right: auto;
    }

    .socialmedia
    {
        margin-left: auto;
        margin-right: auto;
        margin-top: 2rem;
        min-width: 15rem;
        flex-direction: row;
        padding: 0;
    }
}