@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
    font-family: 'lottepaperfang';
    src: url('./fonts/lottepaperfang.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* hurricane-latin-400-normal */
@font-face {
    font-family: 'Hurricane';
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/hurricane@latest/latin-400-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/hurricane@latest/latin-400-normal.woff) format('woff');
    unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
  }
/* nunito-latin-wght-normal */
@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-display: swap;
    font-weight: 200 1000;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/nunito:vf@latest/latin-wght-normal.woff2) format('woff2-variations');
    unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
  }

@layer utilities {
    .dotwhite {
        background-image: radial-gradient(circle at 1px 1px, gray 1px, transparent 0);
    }
    .dotblack {
            background-image: radial-gradient(circle at 1px 1px, black 1px, transparent 0);
            background-size: 40px 35px;
    }
    .glow {
        text-shadow: 
        0 0.02125em 0 #0c2ffb, 
        0 0.0525em 0 #2cfcfd, 
        0 -0.02125em 0 #fb203b, 
        0 -0.0525em 0 #fefc4b;
    }
    .glowdark {
        text-shadow: 
        0 0.01125em 0 #0c2ffb, 
        0 0.0225em 0 #2cfcfd, 
        0 -0.01125em 0 #fb203b, 
        0 -0.0225em 0 #fefc4b;
    }
}

html {
    scrollbar-gutter: stable;
}

body {
    background-size: 40px 35px;
}

.center {
    left: 50%;
    transform: translateX(-50%);
}

.cls-1 {
    fill: url(#linear-gradient-2);
}

.cls-2 {
    fill: url(#linear-gradient-3);
}

.cls-3 {
    fill: url(#linear-gradient);
}


#blogcontnt img[src*='#center'] {
    display: block;
    float: none;
    margin-left: auto;
    margin-right: auto;
}

#blogcontnt img[src*='#left'] {
    display: block;
    float: none;
    margin-right: auto;
}

#blogcontnt img[src*='#right'] {
    display: block;
    float: none;
    margin-left: auto;

}

.animated-background {
    background-size: 400%;
    -webkit-animation: animation 2s ease infinite;
    -moz-animation: animation 2s ease infinite;
    animation: animation 2s ease infinite;
}

.glow {
    text-shadow: 
    0 0.02125em 0 #0c2ffb, 
    0 0.0525em 0 #2cfcfd, 
    0 -0.02125em 0 #fb203b, 
    0 -0.0525em 0 #fefc4b;
}
.glowdark {
    text-shadow: 
    0 0.01em 0 #0c2ffb, 
    0 0.025em 0 #2cfcfd, 
    0 -0.01em 0 #fb203b, 
    0 -0.025em 0 #fefc4b;
}

.textflip {
    animation: show 4s linear infinite;
}

.textflip_mobile {
    animation: show_mobile 4s linear infinite;
}

.wave.top {
    animation: wavetop 4s linear infinite;
}

.wave {
    display: block;
    background-size: 1280px 71px;
}

.wave.bottom {
    bottom: 0px;
    animation: wavebottom 4s linear infinite;
    height: 48px;
}

.mouse-icon {
    bottom: 1rem;
    transition: bottom 0.3s ease-in-out;
}

.moved-down {
    bottom: -5rem;
}

@keyframes wavetop {
    0%, 100% {
        clip-path: polygon(0% 100%, 0% 49%, 6% 43%, 11% 40%, 16% 42%, 22% 45%, 26% 48%, 31% 50%, 35% 54%, 39% 58%, 44% 59%, 49% 57%, 56% 53%, 61% 50%, 65% 47%, 71% 45%, 76% 42%, 81% 40%, 86% 41%, 91% 44%, 96% 47%, 100% 52%, 100% 100%);

    }

    50% { 
        clip-path: polygon(0% 100%, 0% 49%, 5% 44%, 12% 49%, 16% 55%, 21% 57%, 25% 57%, 32% 54%, 37% 52%, 41% 48%, 46% 45%, 50% 42%, 56% 40%, 63% 42%, 66% 44%, 69% 48%, 73% 52%, 78% 55%, 83% 57%, 89% 59%, 96% 57%, 100% 49%, 100% 100%);
    }
}

@keyframes wavebottom {
    0%, 100% {
        clip-path: polygon(0% 0%, 0% 49%, 6% 43%, 11% 40%, 16% 42%, 22% 45%, 26% 48%, 31% 50%, 35% 54%, 39% 58%, 44% 59%, 49% 57%, 56% 53%, 61% 50%, 65% 47%, 71% 45%, 76% 42%, 81% 40%, 86% 41%, 91% 44%, 96% 47%, 100% 52%, 100% 0%);

    }

    50% { 
        clip-path: polygon(0% 0%, 0% 49%, 5% 44%, 12% 49%, 16% 55%, 21% 57%, 25% 57%, 32% 54%, 37% 52%, 41% 48%, 46% 45%, 50% 42%, 56% 40%, 63% 42%, 66% 44%, 69% 48%, 73% 52%, 78% 55%, 83% 57%, 89% 59%, 96% 57%, 100% 49%, 100% 0%);
    }
}

@keyframes animation {
    0%,
    100% {
    background-position: 0% 50%;
        }

    50% {
    background-position: 100% 50%;
    }
}
@keyframes show {
    0% {margin-top:-340px;}
    2% {margin-top:-225px;}
    35% {margin-top:-225px;}
    37% {margin-top:-110px;}
    67% {margin-top:-110px;}
    69% {margin-top:0px;}
    99.99% {margin-top:0px;}
    100% {margin-top:-340px;}
  }
  @keyframes show_mobile {
    0% {margin-top:-240px;}
    2% {margin-top:-160px;}
    35% {margin-top:-160px;}
    37% {margin-top:-80px;}
    67% {margin-top:-80px;}
    69% {margin-top:0px;}
    99.99% {margin-top:0px;}
    100% {margin-top:-240px;}
  }
  
